* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.334;
}
h5 {
    font-size: 1.8rem;
}
a {
    text-decoration: none;
}

/* form starting stylings ------------------------------- */
.group {
  position:relative;
  margin-top: 45px;
}
input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border:none;
  border-bottom: 1px solid #757575;
}
input:focus {
    outline:none;
}

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:16px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#2f94c5;
}

/* BOTTOM BARS ================================= */
.bar {
    position:relative;
    display:block;
    width:100%;
}
.bar:before, .bar:after {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#2f94c5;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100%;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#2f94c5; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#2f94c5; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#2f94c5; }
  to 	{ width:0; background:transparent; }
}

.formWindow {
    margin: 0 auto;
    width: 60%;
    height: 60%;
    min-height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 15px silver;
}
#form-phone {
    display: block;
}
#form-email {
    display: none;
}
.font-bold {
    font-weight: 600 !important;
}
.colorPrimary {
    color: #2f94c5;
}
.colorGray {
    color: rgba(0, 0, 0, 0.54);
}
.btn-primary {
    width: 100%;
    border:none;
    background: rgb(30, 136, 229);
    padding: 18px;
    color: white;
    border-radius: 5px;
    border-bottom: none;
    transition: 0.2s;
}
.btn-select {
    width: 130px;
    height: 50px;
    border:none;
    color: rgb(30, 136, 229);
    background: white;
    border-radius: 5px;
    border-bottom: none;
    transition: 0.2s;
    border: 1px solid rgb(30, 136, 229);
}
.btn-selected {
    background: rgb(30, 136, 229);
    color: white;
    pointer-events: none;
}
.text-center {
    margin: 10px;
    text-align: center !important;
}
.text-left {
    margin: 5px;
    float:left;
}
.text-right {
    margin: 5px;
    float:right;
}
